@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2'),
      url('../assets/fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Italic.woff2') format('woff2'),
      url('../assets/fonts/Poppins-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Bold.woff2') format('woff2'),
      url('../assets/fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-BoldItalic.woff2') format('woff2'),
      url('../assets/fonts/Poppins-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-Regular.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-Italic.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-Medium.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-MediumItalic.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-SemiBoldItalic.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-BoldItalic.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../assets/fonts/RobotoMono-Bold.woff2') format('woff2'),
      url('../assets/fonts/RobotoMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



.text-heading {
  @apply text-2xl font-bold;
}

.text-body {
  @apply text-base;
}